<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for 实例</title>
    <script src="../assets/vue.js"></script>
</head>

<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
        <ul>
            <li v-for="item in itemss">{{ item }}</li>
        </ul>
        <ul>
            <li v-for="test in tests">{{ test }}</li>
        </ul>
        <ul>
            <li v-for="test in changeItems">{{ test }}</li>
        </ul>
        <ul>
            <li v-for="(student, index) in sortStu">{{ index }}. {{ student.age }} - {{ student.name }}</li>
        </ul>
        <ul>
            <li v-for="(student, index) in students">{{ index }}. {{ student.age }} - {{ student.name }}</li>
        </ul>
        <ul>
            <li v-for="(student, index) in changeObj">{{ index }}. {{ student.age }} - {{ student.name }}</li>
        </ul>
    </div>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                message: 'Hello',
                itemss: [1, 2, 3, 4],
                students: [
                    {
                        name: "daxiongz",
                        age: 25
                    },
                    {
                        name: "daxiong",
                        age: 20
                    },
                    {
                        name: "heixiong",
                        age: 15
                    },
                    {
                        name: "zhangxiaoxiong",
                        age: 10
                    }
                ]
            },
            /* 数组有变异（push、pop、shift、unshift、splice、sort、reverse）方法，会改变原始数据；
            和非变异方法（filter、concat、slice）。不改变原始数据 */
            computed: {
                // 计算属性的 getter
                reversedMessage: function () {
                    // `this` 指向 vm 实例
                    return this.message.split('').reverse().join('')
                },
                changeItems: function () {
                    return this.itemss.filter(function (val) {
                        return val % 2 == 0
                    })
                },
                tests: function () {
                    return this.itemss.sort(arrSort);
                },
                sortStu: function() {
                    return objSort(this.students, "age")
                },
                changeObj: function () {
                    return this.students.filter(function(val) {
                        return val.name.length > 8;
                    })
                }
                
            }
        });
        function arrSort(a, b){
            return b - a;
        }

        function objSort(arr, key) {
            return arr.sort(function (a, b){
                return a[key] - b[key]
            })
        }
    </script>
</body>

</html>